#navbar{
    padding: 32px;
    background: #8178788f;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.navabr_wrapper_link_box{
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 60px;
}
.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navabr_wrapper_logo_box{
    width: 400px;
    height: 50px;
    overflow: hidden;
}
.navabr_wrapper_logo_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navabr_wrapper_link{
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 60px;
}
.navabr_wrapper_link li a{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.navabr_wrapper_link li a.active{
    color: rgba(109, 42, 30, 0.726);
}
.navabr_wrapper_button_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navabr_wrapper_btn{
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: rgb(219, 170, 8);
    transition: all linear 0.3s;
    border-radius: 10px;
}
.navabr_wrapper_btn:hover{
    background: rgb(131, 104, 16);
}