#faqhead{
    padding: 170px 0;
    background: #fff;
}
.faqhead_contant_wrapper{
    width: 880px;
    background: #fff;
    margin: 0 auto;
}
.aqhead_contant_box{
    margin-bottom: 40px;
}
.faqhead_contant_box_head{
    font-size: 52px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 150%;
    margin-bottom: 30px;
}
.faqhead_contant_box_pera{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    line-height: 150%;
    text-align: left;
}

.faqhead_link_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    margin-top: 40px;
}
.faqhead_link_box_flex{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 20px;
}
.faqhead_link_box a{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 0, 0, 0.596);
    cursor: pointer;
    list-style: circle;
}