#footer{
    padding: 40px;
    background: #8178788f;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_wrapper_logo_box{
    width: 500px;
    height: 70px;
    overflow: hidden;
}
.footer_wrapper_logo_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_wrapper_copyright_link_box_flex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer_wrapper_link_box_flex{
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
}
.footer_wrapper_copyright_link_box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(199, 180, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.react_icon{
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.footer_wrapper_copyright_box{
    text-align: left;
}
.footer_wrapper_copyright{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}
.footer_wrapper_privacy{
    font-size: 18px;
    font-weight: 500;
    color: rgb(238, 224, 34);
    text-transform: capitalize;
    margin-left: 8px;
    cursor: pointer;
}